h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald"
}

body {
    font-family: "Open Sans"
}

.img-same-size {
    width: 100%;
    height: 120px;
}

.w3-content {
    max-width:1600px;
}

img {
    width:100%;
}

.w3-row w3-margin-bottom {
    display: none;
}

#demo2 {
    display: none;
}

#demo3 {
    display: none;
}

.w3-left w3-margin-right {
    width: 50px;
}

.w3-container w3-display-container w3-light-grey w3-section {
    height:200px;
}

.w3-input w3-border {
     width:100%;
}

.w3-modal-content {
    padding:32px;
}

footer {
    padding: 32px;
}